@import "../../styles/variables.scss";
.whysave-container {
  background-color: #f7f7f7;
  min-height: 298px;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 $margin;
}

.left-container {
  width: 100%;
  h2 {
    max-width: 389px;
  }
}

.right-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.whysave-card {
  display: flex;
  flex-direction: column;
  width: 25%;
  img {
    width: 38px;
    height: 38px;
  }

  span {
    font-weight: 800;
    font-size: 24.3px;
    line-height: 30px;
    color: #18191f;
  }
}

@media only screen and (max-width: 999px) {
  .whysave-container {
    flex-direction: column;
    padding: 10px 4px;
  }

  .left-container {
    h2 {
      padding-top: 20px;
      max-width: 100%;
      text-align: center;
    }
  }

  .right-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .whysave-card {
    align-items: center;
    width: 100%;
  }
}
