@import "../../styles/variables.scss";
.container {
  width: 100vw;
  min-height: 752px;
  display: flex;
  flex-direction: column;
}

.header-container {
  width: 100vw;
  min-height: 752px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
  min-height: 500px;
  margin-bottom: 40px;
}

.saveupto-container {
  padding: 165px 0 0 $margin;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.internal-text {
  h1 {
    color: #18191f;
  }
  width: 70%;
}

.save-element-content {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.burger-image {
  margin: auto;
  width: 486px;
  height: 503px;
}

.burger-container {
  padding-top: 165px;
  background-image: url("../../images/Black\ BG.png");
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 999px) {
  .header-container {
    flex-direction: column;
    gap: 20px;
  }

  .saveupto-container {
    padding: 165px 5px 0 5px;
    align-items: center;
  }

  .burger-image {
    width: 80vw;
    height: auto;
  }
}
