@import "../../styles/variables.scss";

.merchant-container {
  width: 100vw;
  padding: 0 $margin;
  margin: 0 auto;
  text-align: center;

  h2 {
    text-align: left;
  }
}

.image-gallery {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.image-card {
  display: flex;
  flex-direction: column;
  width: 260.5px;
  justify-content: center;
  padding: 10px;

  img {
    height: 260.5px;
    width: 260.5px;
  }

  .type {
    margin: 10px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #969bab;
  }

  .name {
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    color: #18191f;
  }
}

.merchant-bottom {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #18191f;
  margin: 40px auto;
  //text-align: center;
}

@media only screen and (max-width: 999px) {
  .merchant-container {
    padding: 0 4px;

    h2 {
      text-align: center;
    }
  }
}
