.peoplesaying-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #0b0d17;
  align-items: center;
  gap: 20px;

  .quote-icon {
    margin-top: 46px;
    height: 49px;
    width: 57.75px;
    opacity: 0.5;
  }

  .people-saying-text {
    color: #fff;
  }
}

.carousal-container {
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .quote-icon {
    height: 39px;
    width: auto;
  }

  .people-saying-text {
    font-size: 30px;
  }
}
